* {
  box-sizing: border-box;
  /*  margin: 0;
  padding: 0; */
}

body {
  background-color: rgb(190, 190, 190);
}

section {
  display: flex;
  justify-content: center;
}

section div {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  max-height: fit-content;
}

section div .imagen {
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
  text-align: center;
}

img {
  max-width: fit-content;
  height: 214px;
  max-height: fit-content;
}

.mas-vendido {
  background-color: orange;
  color: #ffffff;
  max-width: fit-content;
  padding: 3px;
  border-radius: 5px;
  font-size: 10px;
}

#producto .precio {
  display: flex;
  justify-content: flex-start;
}

h5 {
  margin: 0;
  margin-right: 5px;
  font-size: 20px;
}

.item {
  font-size: 15px;
  color: #00ff00;
}

.item {
  font-weight: 700;
}
