@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* CSS Creado por mi */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  align-items: center;
  padding: 0 8.33%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#informacion {
  width: 40%;
}

#titulo h1 {
  font-weight: 900;
  font-size: 50px;
  color: #414141;
}

#texto p {
  font-weight: 400;
  font-size: 24px;
  color: rgba(114, 114, 114, 0.5);
}

#redes,
#texto {
  margin-top: 25px;
}

#redes {
  width: 320px;
  height: 80px;
  background-color: #5956e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#redes a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

#imagen {
  width: 40%;
} */

/* Ejercicio 2 Laboratorio 2 */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  align-items: center;
  padding: 0 8.33%; /* Equivale al 8.33% del ancho del viewport */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Contenedor de información */
#informacion {
  width: 40%;
}

#titulo h1 {
  font-weight: 900;
  font-size: 3em; /* Tamaño de fuente relativo */
  color: #414141;
}

#texto p {
  font-weight: 400;
  font-size: 1.5em; /* Tamaño de fuente relativo */
  color: rgba(114, 114, 114, 0.5);
}

#redes,
#texto {
  margin-top: 25px;
}

#redes {
  width: 40%; /* Cambié a porcentaje para mantener el diseño responsivo */
  max-width: 320px; /* Limitar el ancho máximo */
  height: 80px;
  background-color: #5956e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#redes a {
  color: #ffffff;
  font-size: 1.5em; /* Tamaño de fuente relativo */
  font-weight: 400;
}

/* Contenedor de imagen */
#imagen {
  width: 40%;
}
 