@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600&family=MuseoModerno:ital,wght@1,600&display=swap");

body {
  background-color: #edf7ff;
  font-family: "Asap", sans-serif;
  max-width: 750px;
  font-weight: 600;
}
h1 {
  color: #0a2ff1;
  font-family: "MuseoModerno", sans-serif;
  font-size: 117px;
}
h2 {
  color: #0a2ff1;
  font-size: 52px;
  font-weight: 400;
}
p {
  color: #04146c;
  font-size: 33px;
}
h3 {
  font-family: MuseoModerno;
  color: #0a2ff1;
  font-size: 48px;
}
b ul {
  color: #04146c;
  font-size: 33px;
}
p#moderno {
  color: #8a9af1;
  font-family: MuseoModerno;
  font-size: 198px;
}
