[submodule "EducacionIT - Desarrollador Front End/Etapa_3/ResponsiveWeb_&_Bootstrap/EIT__ResponsiveWebAndBootstrap"]
	path = EducacionIT - Desarrollador Front End/Etapa_3/ResponsiveWeb_&_Bootstrap/EIT__ResponsiveWebAndBootstrap
	url = https://github.com/g4gr/EIT__ResponsiveWebAndBootstrap.git
