@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-image: url(/EducacionIT\ -\ Desarrollador\ Front\ End/img/fondo2.png);
}

h1 {
  font-size: 24.48pt;
  font-weight: 700;
  color: #04146c;
}

input {
  font-weight: 400;
  color: #414166;
}

button {
  font-weight: 600;
  background-color: #15163d;
  color: white;
  text-align: center;
}

input,
button {
  border: 1px solid #15163d;
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  display: block;
  font-size: 17pt;
  padding: 10px;
}

div {
  width: 700px;
  margin: auto;
  padding: 30px;
  background-image: url(/EducacionIT\ -\ Desarrollador\ Front\ End/img/fondo1.png);
}

form {
  background-color: white;
  width: 550px;
  height: 400px;
  padding: 20px;
  margin: auto;
  text-align: center;
}
