/* En este archivo vamos a decir como son los estilos generales de la pagina */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth; /*Controla el deslizamiento en la pagina*/
}

/* Reinicio de Estilos */
body,
h1,
h2,
h3,
header p,
.menu,
.m-0 {
  margin: 0;
}

.menu,
.p-0 {
  padding: 0;
}

nav a,
.social a {
  text-decoration: none;
}

.menu,
.list-unstyled {
  list-style: none;
}
