/* Estilo de menu hamburguesa */
nav {
  position: sticky;
  /* Explicacion:
    Sticky: se mantiene fijo en la pantalla, pero solo cuando se desplaza hacia arriba.
  */
  top: 0;
  bottom: 0;
  z-index: 4;
  /* Explicacion: 
    z-index: 4; es para que el menu se muestre por encima de los demas elementos.
  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 0.5rem;
  background: var(--main) linear-gradient(to top right, var(--main), darkred);
}

.menu {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  display: grid;
  gap: 0.5rem;
}

.menu.activo {
  max-height: 100vh;
  transition: max-height 0.8s ease;
  /* espacio entre el menu y el icono IT*/
  padding: 0.5rem;
}

.menu a.activo,
.menu a:hover {
  color: #eee;
  text-shadow: 0 0 0.01rem; /* -x+ -y+ blur color */
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  transition: 1ms;
  font-weight: 900;
}

/* Medium Devices - Tablets */
@media screen and (min-width: 768px) {
  nav button {
    display: none;
  }

  #nav{
    display: grid;
    grid-template-columns: 1fr auto;
    height: auto;
    position: static;
    top: auto;
    bottom: auto;
  }
  
  .menu {
    position: static;
    /* 
      Explicacion:
      Static: es la posicion por defecto de los elementos, se apilan uno sobre otro.
    */
    display: grid;
    width: auto;
    max-height: 600px;
    gap: 0.5rem;
    background-image: none;
    margin-left: 20px;
  }
}

/* XXL Devices - Smart TV */
@media screen and (min-width: 1200px) {
  nav {
    padding: 0.5rem calc(50vw - 660px); /*top right bottom left*/
  }
}

@media print {
  nav {
    display: none;
  }
}
