/* Estilo de menu hamburguesa */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  background: #e82 linear-gradient(to top right, #e82, darkred);
}

.menu {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.menu.activo {
  max-height: 100vh;
  transition: max-height 0.8s ease;
  /* espacio entre el menu y el icono IT*/
  /* margin-top: 1rem; */
}

.menu a.activo,
.menu a:hover {
  color: #eee;
  text-shadow: 0 0 0.2rem; /* -x+ -y+ blur color */
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  transition: 1ms;
  font-weight: 900;
}

/* Medium Devices - Tablets */
@media screen and (min-width: 768px) {
  nav button {
    display: none;
  }
  .menu {
    display: flex;
    width: auto;
    max-height: 600px;
    gap: 0.5rem;
  }
}

/* XXL Devices - Smart TV */
@media screen and (min-width: 1400px) {
  nav {
    padding: 0.5rem calc(50vw - 660px); /*top right bottom left*/
  }
}
@media print {
  nav {
    display: none;
  }
}
