/*! Cambios generales*/
/** Boton de contacto */
.boton {
  background-color: #04146c;
  width: 200px;
  padding: 8px 10px;
  border-radius: 8px;
}

.boton a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 27.5px;
  font-weight: 600;
  text-align: center;
}
/*! Version Mobile */

#encabezado {
  border: 3px solid black;
  text-align: center;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*? Info  */
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*? Titulo */
#titulo {
  width: 382px;
  height: 120px;
  top: 172px;
  left: 22px;
}
#titulo h1 {
  font-size: 40px;
  font-weight: 700;
  color: #15163d;
  line-height: 40px;
}

/*? subtitulo */
#subtitulo {
  width: 382px;
  height: 56px;
  top: 334px;
  left: 22px;
  margin: 20px 0;
}

#subtitulo p {
  font-size: 16px;
  font-weight: 400;
  color: #15163d;
  line-height: 27.5px;
}

/*? Imagen del encabezado */
#encabezado img {
  margin-top: 2rem;
}

#encabezado div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #encabezado {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

    #info {
    width: 478px;
    height: 362px;
    }

        #info div {
        margin: 40px 0;
        }

        #titulo h1 {
        font-size: 58px;
        font-weight: 700;
        color: #15163d;
        }

        #subtitulo p {
        font-size: 16px;
        font-weight: 300;
        color: #15163d;
        }

    #imagen {
    width: 593px;
    height: 393px;
    }
 */
