/* Modificaciones Externas */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* 
@font-face {
  font-family: miFuente;
  src: url(../Fuentes/coolvetica.otf);
  font-weight: bold;
} */

/* General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img {
  width: 25%;
  height: auto;
}

main {
  padding: 1em;
}

/* Titulo */
#titulo {
  margin: 2rem 0;
  padding: 2rem;
}

#titulo h1 {
  font-size: 120px;
  color: #0a2ff1;
}

/* Card */
#cards {
  display: flex;
  justify-content: space-evenly;
}

/* Cards individuales */

.card {
  background-color: #eff2ff;
  border-radius: 10px;
  padding: 1rem;
  max-width: 25rem;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.card .img,
.card h2 {
  text-align: center;
}

.card h2 {
  font-size: 20pt;
  color: #0a2ff1;
  font-weight: black;
  margin: 0.8vh 0;
}

.card p {
  font-size: 18pt;
  color: #04146c;
}
