@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: "Mulish", sans-serif;
}

#encabezado p,
main h1 {
  color: #0a2ff1;
}

#encabezado {
  font-weight: 400;
  font-size: 30pt;
}

main h1 {
  font-weight: 900;
  font-size: 60pt;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

main p {
  font-size: 20pt;
  color: #04146c;
  margin-bottom: 2rem;
}

button {
  width: 400px;
  height: 70px;
  font-size: 22pt;
  color: #ffffff;
  background-color: #0a2ff1;
  border: none;
}

button:hover {
  transition: 0.4s;
  background-color: #04146c;
}
