[submodule "EducacionIT - Desarrollador Front End/Etapa_2/gitEIT/EIT__GitDesarrolloColaborativo"]
    path = EducacionIT - Desarrollador Front End/Etapa_2/gitEIT/EIT__GitDesarrolloColaborativo
    url = <C:\Users\Rondinelli\OneDrive\Escritorio\Repositorios\Desarrollo web\EducacionIT - Desarrollador Front End\Etapa_2\gitEIT\EIT__GitDesarrolloColaborativo>
