/*! Cambios Generales  */
/*? Textos descriptivos */
#about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  color: #272d38;
}

/*! Version Mobile  */
#about {
  border: 3px solid black;
}

#about .reverse-mobile {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 3rem;
}
#about .encolumnar {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  text-align: center;
}

#about .encolumnar h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

#about .encolumnar p {
  margin: 3rem 0;
}

/*! Version Desktop */
@media screen and (width >= 1440px) {
}

/* .encolumnar {
  display: flex;
  justify-content: space-between;
}

    #about h3, #about p{
        margin-top: 40px;
    }

    #about h3 {
        font-size: 58px;
        font-weight: 700;
        color: #15163d;
    }

    #about p{
        font-size: 16px;
        font-weight: 300;
        color: #15163d;
    }
 */
