#contacto {
  display: flex;
  justify-content: space-between;
  margin: 5% 0%;
}

#contactanos {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contactanos h3 {
  font-size: 48px;
  font-weight: 700;
  color: #272d38;
}

#contactanos p {
  font-size: 16px;
  font-weight: 300;
  color: #15163d;
  margin: 5% 0%;
}
