#titulo-testimonio {
  text-align: center;
}

#titulo-testimonio p {
  font-size: 16px;
  font-weight: 300;
  color: #15163d;
}

#titulo-testimonio h2 {
  font-size: 58px;
  font-weight: 700;
  color: #15163d;
  margin-top: 20px;
  margin-bottom: 40px;
}

#clientes{
    display: flex;
    justify-content: space-evenly;
}

.cliente{
    width: 355px;
    height: 334px;
    background-color: #eff2ff;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(51, 51, 51, 0.219);
}

.cliente div{
    padding: 20px;
}

.cliente img{
    border-radius: 50%;
}

.cliente h6{
    font-size: 18px;
    font-weight: 400;
    color: #15163d;
}

.cliente p{
    font-size: 16px;
    font-weight: 300;
    color: #15163d;
}