@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #f7df1e;
  font-family: "Roboto Mono", monospace;
  width: 100%;
}

header #logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

header #bienvenido {
  color: #ffff;
  text-align: center;
}

#idiomas {
  text-align: center;
}

#idiomas a {
  margin: 20px;
  color: rgb(226, 238, 157);
  display: inline-block;
  text-decoration: none;
  background-color: #272525;
  border-radius: 10px;
  width: 100px;
  height: 25px;
}

#idiomas a:hover {
  color: #ffff;
}

h1,
h2 {
  text-align: center;
  font-weight: 700;
}

h2 {
  text-decoration: underline;
  margin-top: 100px;
  margin-bottom: 20px;
  /* text-transform: lowercase; */
  text-decoration-style: dashed;
  text-align: center;
}

p {
  margin-left: 600px;
  margin-right: 600px;
  padding: 20px;
  width: 40%;
  /*   background-color: white; */
  text-align: left;
  border: 2px solid #f7df1e;
  border-radius: 8px;
}

#condicionales-info {
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

#mensaje {
  text-align: center;
}
