#rotador {
  margin-top: 16px;
  background-color: hsl(278, 28%, 30%);
  padding: 32px;
  border-radius: 12px;
  color: var(--text);
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rotador img {
  filter: invert();
  cursor: pointer;
  transition: 500ms;
}

#rotador img:hover {
  transform: scale(115%);
}
