<div class="alert alert-info">
    <h1>{{ mensaje }}</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, alias in maiores dicta perspiciatis molestiae aliquid, rerum inventore accusamus ipsa ea id natus ullam aut ab recusandae vitae. Itaque, voluptatem.
    </p>
</div>
