* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: hsl(278, 18%, 50%);
  padding: 8px;
  margin: 16px;
  display: inline-block;
  border-radius: 12px;
  color: var(--text);
  margin: 2px;
  transition: 500ms;
  &:hover {
    background-color: hsl(278, 28%, 36%);
  }
}

#caja {
  margin-top: 32px;
  margin-left: 45px;
  width: 200px;
  height: 200px;
  background-color: #a8a8a8;
  border-radius: 12px;
  rotate: 0deg;
  transition: 500ms;
}
