@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: "Mulish", sans-serif;
  padding: 3em;
  width: 100%;
}

/*! Titulo */
#titulo {
  border-bottom: 2px solid #04146c;
  padding: 1em 0;
}

#titulo h1 {
  font-size: 54px;
  color: #04146c;
  font-weight: 900; /* black */
}

/*! Main */
#carreras {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

.carrera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  width: 300px;
}

/** Imagenes */
.carrera img {
  width: 100px;
  height: auto;
}

/** Textos */

.carrera p {
  font-size: 40px;
  color: #04146c;
  font-weight: 400;
}
