@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Cambios globales */
body {
  font: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  width: auto;
  height: 2703px;
}

p,
h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

.titulos {
  color: #000000;
  font-family: "Coiny", cursive;
}

footer {
  background-color: #fcee21;
  width: 100%;
}

/* Cambios especificos */

/* Encabezado */
.encabezado {
}

.encabezado img {
  width: 240px;
  height: 56px;
}

.encabezado nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.encabezado a {
  padding: 20px;
}

/* Titulo y Subtitulo */
.titulo {
  font-weight: 400;
  width: 60%;
}
.titulo h1 {
  font-weight: 400;
  font-size: 48px;
}

.titulo h1 strong {
  font-size: 97px;
}

.titulo h2 {
  background-color: #fcee21;
}

/* Informacion */
#cargo {
  width: 40%;
  font-size: 24px;
}

#cargo b {
  font-weight: 700;
}

.informacion .nosotros {
  display: flex;
}

.informacion .nosotros img {
  width: 70%;
  margin-left: 30%;
}

h4 {
  display: inline;
  background-color: #fcee21;
}

.informacion p {
  width: 25%;
}

/* Servicios */
.servicios {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
}

.servicios img {
  width: 50%;
}

.servicios .servicios-informacion {
  margin-left: auto;
}

/* Contacto */
.contacto .formulario span {
  color: #ff0000;
}

.redes {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

.redes .redes-imagenes {
  margin-left: 50px;
}

.redes img {
  width: 100px;
  height: auto;
  margin-left: 100px;
}

/* Footer */

footer {
  display: flex;
}

footer h5 {
  font-size: 33px;
  line-height: 36px;
}

footer a {
  text-align: center;
}
