@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

main {
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 5%;
  padding-right: 3%;
}

a {
  text-decoration: none;
}

/* Navegador */

nav {
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 240px;
  height: auto;
}

#navegador {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 30%;
}

#navegador a {
  color: #333333;
  font-size: 24px;
  margin-left: 52px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
}

#titulo {
  width: 55%;
}

#titulo h1 {
  font-size: 48px;
  font-weight: 400;
}

#titulo strong {
  font-size: 88px;
  font-family: "Coiny", sans-serif;
}

#titulo h2 {
  font-weight: 400;
  background: #fcee21;
  padding-left: 15px;
}

header p {
  width: 50%;
  height: auto;
  font-size: 24px;
  margin-top: 60px;
}

header p strong {
  font-weight: 700;
}

header img {
  width: 690px;
  height: 550px;
}

/* Informacion Sobre Nosotros */

.sobre-nosotros {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding-bottom: 50px;
}

.sobre-nosotros section {
  width: 40%;
}

.sobre-nosotros h4 {
  font-size: 26px;
  font-weight: 900;
  background-color: #fcee21;
  width: 470px;
  padding-left: 10px;
}

#sofi-juli {
  width: 338px;
}

.sobre-nosotros p {
  font-size: 22px;
  width: 80%;
}

/* Servicios */

#servicios {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  margin-top: 50px;
  padding-bottom: 50px;
}

#servicios img {
  width: 550px;
  height: 537px;
}

#listado {
  margin-right: 20%;
}

#listado h3 {
  font-weight: 700;
  font-size: 40px;
}

#listado ol li {
  margin-bottom: 20px;
  font-size: 24px;
}

#item {
  background-color: #fcee21;
  font-weight: 700;
  width: 390px;
  padding-left: 5px;
}

/* Contacto */

#contacto {
  margin-top: 50px;
  padding-bottom: 50px;
}

#mensaje {
  display: flex;
  justify-content: space-between;
}

#mensaje h2 {
  color: #ffffff;
  background-color: #000000;
  /* text-align: center; */
  /* width: 80%; */
  padding-left: 15px;
  padding-right: 10px;
  font-size: 50px;
}

#mensaje h2 {
  margin: 0;
  font-size: 50px;
  color: #ffffff;
  background-color: #000000;
  line-height: 100px;
  padding: 10px;
  display: inline;
}

#mensaje h6 {
  font-weight: 700;
  font-size: 30px;
  background-color: #fcee21;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

form {
  margin: auto;
}

form label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}

form label span {
  color: #ff0000;
}

form input {
  width: 535px;
  height: 55px;
}

form textarea {
  width: 535px;
  height: 175px;
}

#botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#botones button {
  color: #ffffff;
  background-color: #000000;
  font-size: 26px;
  font-weight: 700;
  padding: 10px;
}

#enviar {
  width: 280px;
  height: 51px;
}

#borrar {
  width: 147px;
  height: 51px;
}

#redes {
  margin-top: 100px;
  display: flex;
}

#redes p {
  display: inline;
  font-size: 25px;
  color: #808080;
}

#redes section img {
  width: 117px;
  height: auto;
  margin-left: 200px;
}

/* body {
  color: #333;
  font: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

nav h1,
footer h1 {
  font-family: "Coiny", cursive;
}

nav h1 {
  margin-right: auto;
}

nav a,
footer a {
  margin-left: 20px;
  color: #7a7a7a;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-transform: capitalize;
}

header h1 {
  font-weight: 700;
  font-size: 41px;
}

.grande {
  font-size: 100px;
  font-family: "Coiny", cursive;
}

h1,
h2,
h3,
h4,
.item {
  color: black;
}
h2,
h3 {
  font-size: 20px;
  background-color: #fcee21;
  display: inline;
}

h3 {
  font-size: 26px;
}

h2 {
  font-weight: none;
}

.item {
  font-size: 24px;
  font-weight: bold;
  background-color: #fcee21;
}

aside img {
  height: auto;
  width: 50%;
}

#titulo {
  font-size: 40px;
}

header.encolumnar,
aside.encolumnar {
  border-bottom: none;
}

header img {
  width: 70%;
  margin-left: 30%;
}

footer,
main,
header,
aside {
  width: 100%;
}

footer {
  height: 100px;
  padding: 10px;
  background-color: #fcee21;
  display: flex;
  align-items: center;
}

#imagen {
  width: 80%;
  display: block;
  margin: auto;
}

span {
  color: red;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  height: 40px;
}

input,
textarea {
  width: 100%;
}

form {
  margin: auto;
}

.encolumnar {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 0.5px solid gray;
}

.boton {
  padding: 0;
  border-bottom: none;
}

.boton input {
  border: none;
  width: auto;
  background-color: black;
  color: white;
  font-weight: bold;
}

ol li {
  margin-bottom: 6%;
}

h4 {
  margin: 0;
  font-size: 51px;
  color: white;
  background-color: black;
  line-height: 100px;
  padding: 10px;
  display: inline;
}

footer h1 {
  font-size: 33px;
}

section {
  width: 45%;
}

main {
  font-size: 21px;
}
 */
